/* square-peg-regular - latin */
@font-face {
    font-family: 'Square Peg';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('/fonts/square-peg/square-peg-v1-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/square-peg/square-peg-v1-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

.hero {
    text-align: center;
    padding-top: 50px;
    .emoji {
        font-size: 50px;
        margin-bottom: 20px;
    }
}

.latestposts {
    text-align: center;

    h2 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .feed {
        display: flex;
        justify-content: center;
    }
    .morePosts {
        margin-top: 50px;
    }
}