@import 'fonts';
html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans';
  height: 100%;
  width: 100%;
  margin: 0;
}

.global-icon {
  display: inline-block;
  vertical-align: -3px;
  line-height: 1em;
  height: 1em;
}

.global-warn {
  width: 45%;
  margin: auto;
  margin-top: 10px;
}

.ce-block__content, 
.ce-toolbar__content {
  max-width: 90%;
  margin: auto;
}