.homehero {
    text-align: center;
    height: 100vh;
    color: white;

    background: linear-gradient(227deg, #006080, #1d8ec9);
    background-size: 400% 400%;

    -webkit-animation: hero-background 29s ease infinite;
    -moz-animation: hero-background 29s ease infinite;
    animation: hero-background 29s ease infinite;

    padding-top: 30vh;

    h3 {
        margin-top: 10px;
        color: white;
        text-decoration: underline;
    }

    button {
        margin-top: 30px
    }
}

@-webkit-keyframes hero-background {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}
@-moz-keyframes hero-background {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}
@keyframes hero-background {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}