.postItem {
    display: flex;
    align-items: center;
    border: solid black 1px;
    background: #eee;
    box-shadow: 0 20px 50px hsla(0, 0%, 60%, 0.7);
    width: max-content;
    padding: 10px;
    border-radius: 3px;
    width: 70%;

    .postMeta {
        text-align: left;
        .postTitle {
            font-weight: normal;
        }
        .tags {
            margin-top: 5px;
            margin-bottom: 5px;
            .tagItem {
                &::before {
                    content: "# ";
                }
                display: inline-block;
                font-weight: bold;
                background-color: #d1d1d1;
                margin-right: 10px;
                padding: 3px;
                border-radius: 3px;
            }
        }
        .slug {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    .postNumbers {
        margin-left: auto;

        .postHeartCount {
            margin-right: 10px;
            .icon {
                color: #E02401;
            }
        }
        .postCommentCount {
            .icon {
                color: #30AADD;
            }
        }
    }

    .postEdit {
        margin-left: 15px;
    }
}